# CitiBike Data Analysis

I am going to be walking through data analysis of citibike data. This file will include all intermediate steps in the process highlighting the decisions necessary to progress in data analysis. Those decisions include data cleaning, trimming, and data cleaning. After we have the date put together, we will start some feature generation and run a predictive model. After I have run a predictive model I will move on to creating a dashboard with my findings.

## Load the Data

In [2]:
import os

os.chdir('/Users/rebeccahess/Documents/projects/data_analytics/citibike')
print(os.getcwd())

/Users/rebeccahess/Documents/projects/data_analytics/citibike

## File management

### Unzip the files that I downloaded from the internet:
The way that the files were zipped varies, so I decided to write a recursive function to go deeper into the folders to pull out the csv's. It takes like 2 minutes to run.

In [3]:
import zipfile
import shutil 
import re 

#things i learned from chatgpt to make this recursive code work:
# 1. its os.path.exists()
# 2. os.path.isdir() confirms if the path is a directory
# 3. you need the FULL path of the zip file to extract it
# 4. moved the continue into the if statements for zip and csv files; some folders do not have the citibike name in them

#create a directory to extract all of the data to 
if not os.path.exists('data'): os.makedirs('data')

starting_folder = '/Users/rebeccahess/Documents/projects/data_analytics/citibike'
#change the working directory to the directory where the zip files are located
final_destination = os.path.join(starting_folder, 'data')

#making a function to do some recursion to unzip the files and move the csv files to the final destination
def unzip_stuff(starting_folder, final_destination, original_path=None):
    #storing the original path because after the first iteration, the starting folder will change
    if original_path is None:
        original_path = starting_folder
    print('Starting Folder:', starting_folder)
    print('Final Destination:', final_destination)
    files = os.listdir(starting_folder)

    print('Beginning File Loop')
    for file in files:
        
      
        full_path = os.path.join(starting_folder, file)
        print('File:', file)

       
        if file.endswith('.zip') and not re.search('citibike', file) is None :
            print('Extracting:', file)
            #unzip the file
            try: 
                extract_path = os.path.join(starting_folder, file)
                zipfile.ZipFile(extract_path).extractall(final_destination)

                print('Removing:', file)
                os.remove(extract_path) #remove the zip file after extracting
                
            except zipfile.BadZipFile:
                print('Bad Zip File:', file)
                continue

            
        elif file.endswith('.csv') and not re.search('citibike', file) is None:
            print('Moving:', file)
            
            #move the csv file to the final destination
            if not os.path.exists(os.path.join(final_destination, file)):
                shutil.move(full_path, os.path.join(final_destination, file))
            
        elif os.path.isdir(full_path):
            print('Moving into Folder:', file)
            #else the file is alreays unzipped in a folder 
            unzip_stuff(full_path, final_destination)
            
        #made it all the way to the end of the loop    
        os.chdir(original_path)

unzip_stuff(starting_folder, final_destination)

#check to see if the files were extracted
os.chdir(final_destination)
os.listdir('.')

Starting Folder: /Users/rebeccahess/Documents/projects/data_analytics/citibike
Final Destination: /Users/rebeccahess/Documents/projects/data_analytics/citibike/data
Beginning File Loop
File: 202408-citibike-tripdata
Moving into Folder: 202408-citibike-tripdata
Starting Folder: /Users/rebeccahess/Documents/projects/data_analytics/citibike/202408-citibike-tripdata
Final Destination: /Users/rebeccahess/Documents/projects/data_analytics/citibike/data
Beginning File Loop
File: 202408-citibike-tripdata_3.csv
Moving: 202408-citibike-tripdata_3.csv
File: 202408-citibike-tripdata_2.csv
Moving: 202408-citibike-tripdata_2.csv
File: 202408-citibike-tripdata_1.csv
Moving: 202408-citibike-tripdata_1.csv
File: 202408-citibike-tripdata_5.csv
Moving: 202408-citibike-tripdata_5.csv
File: 202408-citibike-tripdata_4.csv
Moving: 202408-citibike-tripdata_4.csv
File: .DS_Store
File: Untitled-1.ipynb
File: 2023-citibike-tripdata
Moving into Folder: 2023-citibike-tripdata
Starting Folder: /Users/rebeccahess/Documents/projects/data_analytics/citibike/2023-citibike-tripdata
Final Destination: /Users/rebeccahess/Documents/projects/data_analytics/citibike/data
Beginning File Loop
File: .DS_Store
File: 202306-citibike-tripdata_3.csv
Moving: 202306-citibike-tripdata_3.csv
File: 202306-citibike-tripdata_1.csv
Moving: 202306-citibike-tripdata_1.csv
File: 202306-citibike-tripdata_4.csv
Moving: 202306-citibike-tripdata_4.csv
File: 202302-citibike-tripdata_2.csv
Moving: 202302-citibike-tripdata_2.csv
File: 202302-citibike-tripdata_1.csv
Moving: 202302-citibike-tripdata_1.csv
File: 202304-citibike-tripdata_3.csv
Moving: 202304-citibike-tripdata_3.csv
File: 202304-citibike-tripdata_2.csv
Moving: 202304-citibike-tripdata_2.csv
File: 202304-citibike-tripdata_1.csv
Moving: 202304-citibike-tripdata_1.csv
File: 202303-citibike-tripdata_1.csv
Moving: 202303-citibike-tripdata_1.csv
File: 202310-citibike-tripdata_3.csv
Moving: 202310-citibike-tripdata_3.csv
File: 202310-citibike-tripdata_2.csv
Moving: 202310-citibike-tripdata_2.csv
File: 202308-citibike-tripdata_4.csv
Moving: 202308-citibike-tripdata_4.csv
File: 202303-citibike-tripdata_2.csv
Moving: 202303-citibike-tripdata_2.csv
File: 202310-citibike-tripdata_1.csv
Moving: 202310-citibike-tripdata_1.csv
File: 202303-citibike-tripdata_3.csv
Moving: 202303-citibike-tripdata_3.csv
File: 202308-citibike-tripdata_1.csv
Moving: 202308-citibike-tripdata_1.csv
File: 202310-citibike-tripdata_4.csv
Moving: 202310-citibike-tripdata_4.csv
File: 202307-citibike-tripdata_1.csv
Moving: 202307-citibike-tripdata_1.csv
File: 202308-citibike-tripdata_2.csv
Moving: 202308-citibike-tripdata_2.csv
File: 202307-citibike-tripdata_3.csv
Moving: 202307-citibike-tripdata_3.csv
File: 202307-citibike-tripdata_2.csv
Moving: 202307-citibike-tripdata_2.csv
File: 202308-citibike-tripdata_3.csv
Moving: 202308-citibike-tripdata_3.csv
File: 202407-citibike-tripdata
Moving into Folder: 202407-citibike-tripdata
Starting Folder: /Users/rebeccahess/Documents/projects/data_analytics/citibike/202407-citibike-tripdata
Final Destination: /Users/rebeccahess/Documents/projects/data_analytics/citibike/data
Beginning File Loop
File: 202407-citibike-tripdata_2.csv
Moving: 202407-citibike-tripdata_2.csv
File: 202407-citibike-tripdata_3.csv
Moving: 202407-citibike-tripdata_3.csv
File: 202407-citibike-tripdata_1.csv
Moving: 202407-citibike-tripdata_1.csv
File: 202407-citibike-tripdata_4.csv
Moving: 202407-citibike-tripdata_4.csv
File: 202407-citibike-tripdata_5.csv
Moving: 202407-citibike-tripdata_5.csv
File: data
Moving into Folder: data
Starting Folder: /Users/rebeccahess/Documents/projects/data_analytics/citibike/data
Final Destination: /Users/rebeccahess/Documents/projects/data_analytics/citibike/data
Beginning File Loop
File: 201706-citibike-tripdata.csv_1.csv
Moving: 201706-citibike-tripdata.csv_1.csv
File: 202405-citibike-tripdata_3.csv
Moving: 202405-citibike-tripdata_3.csv
File: 202109-citibike-tripdata_3.csv
Moving: 202109-citibike-tripdata_3.csv
File: 202106-citibike-tripdata_2.csv
Moving: 202106-citibike-tripdata_2.csv
File: 201908-citibike-tripdata_1.csv
Moving: 201908-citibike-tripdata_1.csv
File: 202312-citibike-tripdata_2.csv
Moving: 202312-citibike-tripdata_2.csv
File: ._201801-citibike-tripdata.csv
Moving: ._201801-citibike-tripdata.csv
File: 202208-citibike-tripdata_3.csv
Moving: 202208-citibike-tripdata_3.csv
File: 202207-citibike-tripdata_2.csv
Moving: 202207-citibike-tripdata_2.csv
File: 201710-citibike-tripdata.csv_1.csv
Moving: 201710-citibike-tripdata.csv_1.csv
File: 201610-citibike-tripdata_1.csv
Moving: 201610-citibike-tripdata_1.csv
File: 202207-citibike-tripdata_3.csv
Moving: 202207-citibike-tripdata_3.csv
File: 202301-citibike-tripdata_1.csv
Moving: 202301-citibike-tripdata_1.csv
File: 202208-citibike-tripdata_2.csv
Moving: 202208-citibike-tripdata_2.csv
File: 201812-citibike-tripdata_1.csv
Moving: 201812-citibike-tripdata_1.csv
File: 202312-citibike-tripdata_3.csv
Moving: 202312-citibike-tripdata_3.csv
File: 201907-citibike-tripdata_1.csv
Moving: 201907-citibike-tripdata_1.csv
File: 201809-citibike-tripdata.csv
Moving: 201809-citibike-tripdata.csv
File: 202106-citibike-tripdata_3.csv
Moving: 202106-citibike-tripdata_3.csv
File: 202405-citibike-tripdata_2.csv
Moving: 202405-citibike-tripdata_2.csv
File: 202109-citibike-tripdata_2.csv
Moving: 202109-citibike-tripdata_2.csv
File: ._202404-citibike-tripdata.csv
Moving: ._202404-citibike-tripdata.csv
File: 201706-citibike-tripdata.csv_2.csv
Moving: 201706-citibike-tripdata.csv_2.csv
File: ._201809-citibike-tripdata.csv
Moving: ._201809-citibike-tripdata.csv
File: 202404-citibike-tripdata.csv
Moving: 202404-citibike-tripdata.csv
File: 202106-citibike-tripdata_1.csv
Moving: 202106-citibike-tripdata_1.csv
File: 202305-citibike-tripdata_4.csv
Moving: 202305-citibike-tripdata_4.csv
File: 201801-citibike-tripdata_1.csv
Moving: 201801-citibike-tripdata_1.csv
File: 201908-citibike-tripdata_2.csv
Moving: 201908-citibike-tripdata_2.csv
File: 201907-citibike-tripdata_3.csv
Moving: 201907-citibike-tripdata_3.csv
File: 201603-citibike-tripdata_1.csv
Moving: 201603-citibike-tripdata_1.csv
File: 202312-citibike-tripdata_1.csv
Moving: 202312-citibike-tripdata_1.csv
File: 201703-citibike-tripdata.csv_1.csv
Moving: 201703-citibike-tripdata.csv_1.csv
File: 202207-citibike-tripdata_1.csv
Moving: 202207-citibike-tripdata_1.csv
File: 201610-citibike-tripdata_2.csv
Moving: 201610-citibike-tripdata_2.csv
File: 201710-citibike-tripdata.csv_2.csv
Moving: 201710-citibike-tripdata.csv_2.csv
File: 202208-citibike-tripdata_1.csv
Moving: 202208-citibike-tripdata_1.csv
File: 202301-citibike-tripdata_2.csv
Moving: 202301-citibike-tripdata_2.csv
File: 201812-citibike-tripdata_2.csv
Moving: 201812-citibike-tripdata_2.csv
File: 201907-citibike-tripdata_2.csv
Moving: 201907-citibike-tripdata_2.csv
File: 201908-citibike-tripdata_3.csv
Moving: 201908-citibike-tripdata_3.csv
File: 201801-citibike-tripdata.csv
Moving: 201801-citibike-tripdata.csv
File: 202109-citibike-tripdata_1.csv
Moving: 202109-citibike-tripdata_1.csv
File: 202405-citibike-tripdata_1.csv
Moving: 202405-citibike-tripdata_1.csv
File: 201903-citibike-tripdata_1.csv
Moving: 201903-citibike-tripdata_1.csv
File: 202210-citibike-tripdata_1.csv
Moving: 202210-citibike-tripdata_1.csv
File: 201608-citibike-tripdata_2.csv
Moving: 201608-citibike-tripdata_2.csv
File: 202106-citibike-tripdata_4.csv
Moving: 202106-citibike-tripdata_4.csv
File: 201910-citibike-tripdata_3.csv
Moving: 201910-citibike-tripdata_3.csv
File: 202405-citibike-tripdata_5.csv
Moving: 202405-citibike-tripdata_5.csv
File: 202305-citibike-tripdata_1.csv
Moving: 202305-citibike-tripdata_1.csv
File: 202111-citibike-tripdata_1.csv
Moving: 202111-citibike-tripdata_1.csv
File: .DS_Store
File: 202004-citibike-tripdata_1.csv
Moving: 202004-citibike-tripdata_1.csv
File: 202207-citibike-tripdata_4.csv
Moving: 202207-citibike-tripdata_4.csv
File: 202208-citibike-tripdata_4.csv
Moving: 202208-citibike-tripdata_4.csv
File: 201709-citibike-tripdata.csv_2.csv
Moving: 201709-citibike-tripdata.csv_2.csv
File: 202412-citibike-tripdata_1.csv
Moving: 202412-citibike-tripdata_1.csv
File: 202203-citibike-tripdata_2.csv
Moving: 202203-citibike-tripdata_2.csv
File: 202405-citibike-tripdata_4.csv
Moving: 202405-citibike-tripdata_4.csv
File: 202109-citibike-tripdata_4.csv
Moving: 202109-citibike-tripdata_4.csv
File: 201910-citibike-tripdata_2.csv
Moving: 201910-citibike-tripdata_2.csv
File: 201607-citibike-tripdata_2.csv
Moving: 201607-citibike-tripdata_2.csv
File: ._201803-citibike-tripdata.csv
Moving: ._201803-citibike-tripdata.csv
File: 201805-citibike-tripdata_2.csv
Moving: 201805-citibike-tripdata_2.csv
File: 201903-citibike-tripdata_2.csv
Moving: 201903-citibike-tripdata_2.csv
File: 202210-citibike-tripdata_2.csv
Moving: 202210-citibike-tripdata_2.csv
File: 201608-citibike-tripdata_1.csv
Moving: 201608-citibike-tripdata_1.csv
File: 201803-citibike-tripdata.csv
Moving: 201803-citibike-tripdata.csv
File: 202305-citibike-tripdata_2.csv
Moving: 202305-citibike-tripdata_2.csv
File: 202111-citibike-tripdata_2.csv
Moving: 202111-citibike-tripdata_2.csv
File: 202412-citibike-tripdata_3.csv
Moving: 202412-citibike-tripdata_3.csv
File: 202102-citibike-tripdata_1.csv
Moving: 202102-citibike-tripdata_1.csv
File: 201709-citibike-tripdata.csv_1.csv
Moving: 201709-citibike-tripdata.csv_1.csv
File: 202412-citibike-tripdata_2.csv
Moving: 202412-citibike-tripdata_2.csv
File: 202111-citibike-tripdata_3.csv
Moving: 202111-citibike-tripdata_3.csv
File: 202203-citibike-tripdata_1.csv
Moving: 202203-citibike-tripdata_1.csv
File: 202305-citibike-tripdata_3.csv
Moving: 202305-citibike-tripdata_3.csv
File: 201910-citibike-tripdata_1.csv
Moving: 201910-citibike-tripdata_1.csv
File: 202210-citibike-tripdata_3.csv
Moving: 202210-citibike-tripdata_3.csv
File: 201607-citibike-tripdata_1.csv
Moving: 201607-citibike-tripdata_1.csv
File: 201805-citibike-tripdata_1.csv
Moving: 201805-citibike-tripdata_1.csv
File: 202306-citibike-tripdata_2.csv
Moving: 202306-citibike-tripdata_2.csv
File: 201707-citibike-tripdata.csv_2.csv
Moving: 201707-citibike-tripdata.csv_2.csv
File: 202309-citibike-tripdata_3.csv
Moving: 202309-citibike-tripdata_3.csv
File: 202503-citibike-tripdata.csv
Moving: 202503-citibike-tripdata.csv
File: 201809-citibike-tripdata_1.csv
Moving: 201809-citibike-tripdata_1.csv
File: 202007-citibike-tripdata_2.csv
Moving: 202007-citibike-tripdata_2.csv
File: 202008-citibike-tripdata_3.csv
Moving: 202008-citibike-tripdata_3.csv
File: 202504-citibike-tripdata_3.csv
Moving: 202504-citibike-tripdata_3.csv
File: 201702-citibike-tripdata.csv_1.csv
Moving: 201702-citibike-tripdata.csv_1.csv
File: 202112-citibike-tripdata_2.csv
Moving: 202112-citibike-tripdata_2.csv
File: 202411-citibike-tripdata_3.csv
Moving: 202411-citibike-tripdata_3.csv
File: 202411-citibike-tripdata_2.csv
Moving: 202411-citibike-tripdata_2.csv
File: 201805-citibike-tripdata.csv
Moving: 201805-citibike-tripdata.csv
File: 201711-citibike-tripdata.csv_2.csv
Moving: 201711-citibike-tripdata.csv_2.csv
File: 202008-citibike-tripdata_2.csv
Moving: 202008-citibike-tripdata_2.csv
File: 202504-citibike-tripdata_2.csv
Moving: 202504-citibike-tripdata_2.csv
File: 202101-citibike-tripdata_1.csv
Moving: 202101-citibike-tripdata_1.csv
File: 202007-citibike-tripdata_3.csv
Moving: 202007-citibike-tripdata_3.csv
File: 201806-citibike-tripdata_1.csv
Moving: 201806-citibike-tripdata_1.csv
File: 201604-citibike-tripdata_1.csv
Moving: 201604-citibike-tripdata_1.csv
File: 202309-citibike-tripdata_2.csv
Moving: 202309-citibike-tripdata_2.csv
File: 202306-citibike-tripdata_3.csv
Moving: 202306-citibike-tripdata_3.csv
File: 202306-citibike-tripdata_1.csv
Moving: 202306-citibike-tripdata_1.csv
File: 201707-citibike-tripdata.csv_1.csv
Moving: 201707-citibike-tripdata.csv_1.csv
File: 202409-citibike-tripdata_4.csv
Moving: 202409-citibike-tripdata_4.csv
File: 202406-citibike-tripdata_5.csv
Moving: 202406-citibike-tripdata_5.csv
File: 201809-citibike-tripdata_2.csv
Moving: 201809-citibike-tripdata_2.csv
File: 202007-citibike-tripdata_1.csv
Moving: 202007-citibike-tripdata_1.csv
File: ._201805-citibike-tripdata.csv
Moving: ._201805-citibike-tripdata.csv
File: 202112-citibike-tripdata_1.csv
Moving: 202112-citibike-tripdata_1.csv
File: 202411-citibike-tripdata_1.csv
Moving: 202411-citibike-tripdata_1.csv
File: 201711-citibike-tripdata.csv_1.csv
Moving: 201711-citibike-tripdata.csv_1.csv
File: 202101-citibike-tripdata_2.csv
Moving: 202101-citibike-tripdata_2.csv
File: 202504-citibike-tripdata_1.csv
Moving: 202504-citibike-tripdata_1.csv
File: 202008-citibike-tripdata_1.csv
Moving: 202008-citibike-tripdata_1.csv
File: ._201804-citibike-tripdata_1.csv
Moving: ._201804-citibike-tripdata_1.csv
File: 201806-citibike-tripdata_2.csv
Moving: 201806-citibike-tripdata_2.csv
File: 201604-citibike-tripdata_2.csv
Moving: 201604-citibike-tripdata_2.csv
File: 202406-citibike-tripdata_4.csv
Moving: 202406-citibike-tripdata_4.csv
File: 202409-citibike-tripdata_5.csv
Moving: 202409-citibike-tripdata_5.csv
File: 202309-citibike-tripdata_1.csv
Moving: 202309-citibike-tripdata_1.csv
File: 202306-citibike-tripdata_4.csv
Moving: 202306-citibike-tripdata_4.csv
File: 201807-citibike-tripdata.csv
Moving: 201807-citibike-tripdata.csv
File: 202105-citibike-tripdata_1.csv
Moving: 202105-citibike-tripdata_1.csv
File: 202409-citibike-tripdata_1.csv
Moving: 202409-citibike-tripdata_1.csv
File: 202010-citibike-tripdata_1.csv
Moving: 202010-citibike-tripdata_1.csv
File: 202204-citibike-tripdata_1.csv
Moving: 202204-citibike-tripdata_1.csv
File: 201811-citibike-tripdata.csv
Moving: 201811-citibike-tripdata.csv
File: 202311-citibike-tripdata_1.csv
Moving: 202311-citibike-tripdata_1.csv
File: 201802-citibike-tripdata_1.csv
Moving: 201802-citibike-tripdata_1.csv
File: 201904-citibike-tripdata_2.csv
Moving: 201904-citibike-tripdata_2.csv
File: 202402-citibike-tripdata.csv
Moving: 202402-citibike-tripdata.csv
File: 202411-citibike-tripdata_4.csv
Moving: 202411-citibike-tripdata_4.csv
File: 201811-citibike-tripdata_2.csv
Moving: 201811-citibike-tripdata_2.csv
File: 202504-citibike-tripdata_4.csv
Moving: 202504-citibike-tripdata_4.csv
File: 201708-citibike-tripdata.csv_1.csv
Moving: 201708-citibike-tripdata.csv_1.csv
File: 202302-citibike-tripdata_2.csv
Moving: 202302-citibike-tripdata_2.csv
File: 202003-citibike-tripdata_2.csv
Moving: 202003-citibike-tripdata_2.csv
File: 202406-citibike-tripdata_1.csv
Moving: 202406-citibike-tripdata_1.csv
File: 202309-citibike-tripdata_4.csv
Moving: 202309-citibike-tripdata_4.csv
File: 202406-citibike-tripdata_3.csv
Moving: 202406-citibike-tripdata_3.csv
File: 202409-citibike-tripdata_2.csv
Moving: 202409-citibike-tripdata_2.csv
File: 202105-citibike-tripdata_2.csv
Moving: 202105-citibike-tripdata_2.csv
File: 202010-citibike-tripdata_2.csv
Moving: 202010-citibike-tripdata_2.csv
File: 202204-citibike-tripdata_2.csv
Moving: 202204-citibike-tripdata_2.csv
File: ._202402-citibike-tripdata.csv
Moving: ._202402-citibike-tripdata.csv
File: 202311-citibike-tripdata_2.csv
Moving: 202311-citibike-tripdata_2.csv
File: 201904-citibike-tripdata_1.csv
Moving: 201904-citibike-tripdata_1.csv
File: 202311-citibike-tripdata_3.csv
Moving: 202311-citibike-tripdata_3.csv
File: 201811-citibike-tripdata_1.csv
Moving: 201811-citibike-tripdata_1.csv
File: 202204-citibike-tripdata_3.csv
Moving: 202204-citibike-tripdata_3.csv
File: ._201811-citibike-tripdata.csv
Moving: ._201811-citibike-tripdata.csv
File: 202302-citibike-tripdata_1.csv
Moving: 202302-citibike-tripdata_1.csv
File: 201708-citibike-tripdata.csv_2.csv
Moving: 201708-citibike-tripdata.csv_2.csv
File: 202010-citibike-tripdata_3.csv
Moving: 202010-citibike-tripdata_3.csv
File: ._201807-citibike-tripdata.csv
Moving: ._201807-citibike-tripdata.csv
File: 202409-citibike-tripdata_3.csv
Moving: 202409-citibike-tripdata_3.csv
File: 202105-citibike-tripdata_3.csv
Moving: 202105-citibike-tripdata_3.csv
File: 202406-citibike-tripdata_2.csv
Moving: 202406-citibike-tripdata_2.csv
File: 202003-citibike-tripdata_1.csv
Moving: 202003-citibike-tripdata_1.csv
File: 202211-citibike-tripdata_3.csv
Moving: 202211-citibike-tripdata_3.csv
File: 201606-citibike-tripdata_1.csv
Moving: 201606-citibike-tripdata_1.csv
File: 201804-citibike-tripdata_1.csv
Moving: 201804-citibike-tripdata_1.csv
File: 202202-citibike-tripdata_1.csv
Moving: 202202-citibike-tripdata_1.csv
File: 202304-citibike-tripdata_3.csv
Moving: 202304-citibike-tripdata_3.csv
File: ._202409-citibike-tripdata_5.csv
Moving: ._202409-citibike-tripdata_5.csv
File: 201911-citibike-tripdata_1.csv
Moving: 201911-citibike-tripdata_1.csv
File: ._201808-citibike-tripdata.csv
Moving: ._201808-citibike-tripdata.csv
File: 202110-citibike-tripdata_3.csv
Moving: 202110-citibike-tripdata_3.csv
File: 202103-citibike-tripdata_1.csv
Moving: 202103-citibike-tripdata_1.csv
File: 202005-citibike-tripdata_2.csv
Moving: 202005-citibike-tripdata_2.csv
File: 202110-citibike-tripdata_2.csv
Moving: 202110-citibike-tripdata_2.csv
File: ._202409-citibike-tripdata_4.csv
Moving: ._202409-citibike-tripdata_4.csv
File: 202304-citibike-tripdata_2.csv
Moving: 202304-citibike-tripdata_2.csv
File: 202211-citibike-tripdata_2.csv
Moving: 202211-citibike-tripdata_2.csv
File: 201609-citibike-tripdata_1.csv
Moving: 201609-citibike-tripdata_1.csv
File: 201606-citibike-tripdata_2.csv
Moving: 201606-citibike-tripdata_2.csv
File: 201804-citibike-tripdata_2.csv
Moving: 201804-citibike-tripdata_2.csv
File: 202202-citibike-tripdata_2.csv
Moving: 202202-citibike-tripdata_2.csv
File: 202108-citibike-tripdata_4.csv
Moving: 202108-citibike-tripdata_4.csv
File: 201911-citibike-tripdata_2.csv
Moving: 201911-citibike-tripdata_2.csv
File: 202209-citibike-tripdata_4.csv
Moving: 202209-citibike-tripdata_4.csv
File: 202103-citibike-tripdata_2.csv
Moving: 202103-citibike-tripdata_2.csv
File: 202005-citibike-tripdata_1.csv
Moving: 202005-citibike-tripdata_1.csv
File: 201808-citibike-tripdata.csv
Moving: 201808-citibike-tripdata.csv
File: 202206-citibike-tripdata_4.csv
Moving: 202206-citibike-tripdata_4.csv
File: 202110-citibike-tripdata_1.csv
Moving: 202110-citibike-tripdata_1.csv
File: 202107-citibike-tripdata_4.csv
Moving: 202107-citibike-tripdata_4.csv
File: 202304-citibike-tripdata_1.csv
Moving: 202304-citibike-tripdata_1.csv
File: 201902-citibike-tripdata_1.csv
Moving: 201902-citibike-tripdata_1.csv
File: 202211-citibike-tripdata_1.csv
Moving: 202211-citibike-tripdata_1.csv
File: 201609-citibike-tripdata_2.csv
Moving: 201609-citibike-tripdata_2.csv
File: 201704-citibike-tripdata.csv_1.csv
Moving: 201704-citibike-tripdata.csv_1.csv
File: 202502-citibike-tripdata_3.csv
Moving: 202502-citibike-tripdata_3.csv
File: 202001-citibike-tripdata_2.csv
Moving: 202001-citibike-tripdata_2.csv
File: ._202409-citibike-tripdata_3.csv
Moving: ._202409-citibike-tripdata_3.csv
File: 202108-citibike-tripdata_1.csv
Moving: 202108-citibike-tripdata_1.csv
File: 201906-citibike-tripdata_2.csv
Moving: 201906-citibike-tripdata_2.csv
File: 201909-citibike-tripdata_3.csv
Moving: 201909-citibike-tripdata_3.csv
File: 201611-citibike-tripdata_2.csv
Moving: 201611-citibike-tripdata_2.csv
File: 201802-citibike-tripdata.csv
Moving: 201802-citibike-tripdata.csv
File: 202209-citibike-tripdata_1.csv
Moving: 202209-citibike-tripdata_1.csv
File: 202206-citibike-tripdata_1.csv
Moving: 202206-citibike-tripdata_1.csv
File: 201909-citibike-tripdata_2.csv
Moving: 201909-citibike-tripdata_2.csv
File: 201906-citibike-tripdata_3.csv
Moving: 201906-citibike-tripdata_3.csv
File: 202110-citibike-tripdata_4.csv
Moving: 202110-citibike-tripdata_4.csv
File: 201602-citibike-tripdata_1.csv
Moving: 201602-citibike-tripdata_1.csv
File: 201712-citibike-tripdata.csv_1.csv
Moving: 201712-citibike-tripdata.csv_1.csv
File: ._202409-citibike-tripdata_2.csv
Moving: ._202409-citibike-tripdata_2.csv
File: 202107-citibike-tripdata_1.csv
Moving: 202107-citibike-tripdata_1.csv
File: 202502-citibike-tripdata_2.csv
Moving: 202502-citibike-tripdata_2.csv

['201706-citibike-tripdata.csv_1.csv',
 '202405-citibike-tripdata_3.csv',
 '202109-citibike-tripdata_3.csv',
 '202106-citibike-tripdata_2.csv',
 '201908-citibike-tripdata_1.csv',
 '202312-citibike-tripdata_2.csv',
 '._201801-citibike-tripdata.csv',
 '202208-citibike-tripdata_3.csv',
 '202207-citibike-tripdata_2.csv',
 '201710-citibike-tripdata.csv_1.csv',
 '201610-citibike-tripdata_1.csv',
 '202207-citibike-tripdata_3.csv',
 '202301-citibike-tripdata_1.csv',
 '202208-citibike-tripdata_2.csv',
 '201812-citibike-tripdata_1.csv',
 '202312-citibike-tripdata_3.csv',
 '201907-citibike-tripdata_1.csv',
 '201809-citibike-tripdata.csv',
 '202106-citibike-tripdata_3.csv',
 '202405-citibike-tripdata_2.csv',
 '202109-citibike-tripdata_2.csv',
 '._202404-citibike-tripdata.csv',
 '201706-citibike-tripdata.csv_2.csv',
 '._201809-citibike-tripdata.csv',
 '202404-citibike-tripdata.csv',
 '202106-citibike-tripdata_1.csv',
 '202305-citibike-tripdata_4.csv',
 '201801-citibike-tripdata_1.csv',
 '201908-citibike-tripdata_2.csv',
 '201907-citibike-tripdata_3.csv',
 '201603-citibike-tripdata_1.csv',
 '202312-citibike-tripdata_1.csv',
 '201703-citibike-tripdata.csv_1.csv',
 '202207-citibike-tripdata_1.csv',
 '201610-citibike-tripdata_2.csv',
 '201710-citibike-tripdata.csv_2.csv',
 '202208-citibike-tripdata_1.csv',
 '202301-citibike-tripdata_2.csv',
 '201812-citibike-tripdata_2.csv',
 '201907-citibike-tripdata_2.csv',
 '201908-citibike-tripdata_3.csv',
 '201801-citibike-tripdata.csv',
 '202109-citibike-tripdata_1.csv',
 '202405-citibike-tripdata_1.csv',
 '201903-citibike-tripdata_1.csv',
 '202210-citibike-tripdata_1.csv',
 '201608-citibike-tripdata_2.csv',
 '202106-citibike-tripdata_4.csv',
 '201910-citibike-tripdata_3.csv',
 '202405-citibike-tripdata_5.csv',
 '202305-citibike-tripdata_1.csv',
 '202111-citibike-tripdata_1.csv',
 '.DS_Store',
 '202004-citibike-tripdata_1.csv',
 '202207-citibike-tripdata_4.csv',
 '202208-citibike-tripdata_4.csv',
 '201709-citibike-tripdata.csv_2.csv',
 '202412-citibike-tripdata_1.csv',
 '202203-citibike-tripdata_2.csv',
 '202405-citibike-tripdata_4.csv',
 '202109-citibike-tripdata_4.csv',
 '201910-citibike-tripdata_2.csv',
 '201607-citibike-tripdata_2.csv',
 '._201803-citibike-tripdata.csv',
 '201805-citibike-tripdata_2.csv',
 '201903-citibike-tripdata_2.csv',
 '202210-citibike-tripdata_2.csv',
 '201608-citibike-tripdata_1.csv',
 '201803-citibike-tripdata.csv',
 '202305-citibike-tripdata_2.csv',
 '202111-citibike-tripdata_2.csv',
 '202412-citibike-tripdata_3.csv',
 '202102-citibike-tripdata_1.csv',
 '201709-citibike-tripdata.csv_1.csv',
 '202412-citibike-tripdata_2.csv',
 '202111-citibike-tripdata_3.csv',
 '202203-citibike-tripdata_1.csv',
 '202305-citibike-tripdata_3.csv',
 '201910-citibike-tripdata_1.csv',
 '202210-citibike-tripdata_3.csv',
 '201607-citibike-tripdata_1.csv',
 '201805-citibike-tripdata_1.csv',
 '202306-citibike-tripdata_2.csv',
 '201707-citibike-tripdata.csv_2.csv',
 '202309-citibike-tripdata_3.csv',
 '202503-citibike-tripdata.csv',
 '201809-citibike-tripdata_1.csv',
 '202007-citibike-tripdata_2.csv',
 '202008-citibike-tripdata_3.csv',
 '202504-citibike-tripdata_3.csv',
 '201702-citibike-tripdata.csv_1.csv',
 '202112-citibike-tripdata_2.csv',
 '202411-citibike-tripdata_3.csv',
 '202411-citibike-tripdata_2.csv',
 '201805-citibike-tripdata.csv',
 '201711-citibike-tripdata.csv_2.csv',
 '202008-citibike-tripdata_2.csv',
 '202504-citibike-tripdata_2.csv',
 '202101-citibike-tripdata_1.csv',
 '202007-citibike-tripdata_3.csv',
 '201806-citibike-tripdata_1.csv',
 '201604-citibike-tripdata_1.csv',
 '202309-citibike-tripdata_2.csv',
 '202306-citibike-tripdata_3.csv',
 '202306-citibike-tripdata_1.csv',
 '201707-citibike-tripdata.csv_1.csv',
 '202409-citibike-tripdata_4.csv',
 '202406-citibike-tripdata_5.csv',
 '201809-citibike-tripdata_2.csv',
 '202007-citibike-tripdata_1.csv',
 '._201805-citibike-tripdata.csv',
 '202112-citibike-tripdata_1.csv',
 '202411-citibike-tripdata_1.csv',
 '201711-citibike-tripdata.csv_1.csv',
 '202101-citibike-tripdata_2.csv',
 '202504-citibike-tripdata_1.csv',
 '202008-citibike-tripdata_1.csv',
 '._201804-citibike-tripdata_1.csv',
 '201806-citibike-tripdata_2.csv',
 '201604-citibike-tripdata_2.csv',
 '202406-citibike-tripdata_4.csv',
 '202409-citibike-tripdata_5.csv',
 '202309-citibike-tripdata_1.csv',
 '202306-citibike-tripdata_4.csv',
 '201807-citibike-tripdata.csv',
 '202105-citibike-tripdata_1.csv',
 '202409-citibike-tripdata_1.csv',
 '202010-citibike-tripdata_1.csv',
 '202204-citibike-tripdata_1.csv',
 '201811-citibike-tripdata.csv',
 '202311-citibike-tripdata_1.csv',
 '201802-citibike-tripdata_1.csv',
 '201904-citibike-tripdata_2.csv',
 '202402-citibike-tripdata.csv',
 '202411-citibike-tripdata_4.csv',
 '201811-citibike-tripdata_2.csv',
 '202504-citibike-tripdata_4.csv',
 '201708-citibike-tripdata.csv_1.csv',
 '202302-citibike-tripdata_2.csv',
 '202003-citibike-tripdata_2.csv',
 '202406-citibike-tripdata_1.csv',
 '202309-citibike-tripdata_4.csv',
 '202406-citibike-tripdata_3.csv',
 '202409-citibike-tripdata_2.csv',
 '202105-citibike-tripdata_2.csv',
 '202010-citibike-tripdata_2.csv',
 '202204-citibike-tripdata_2.csv',
 '._202402-citibike-tripdata.csv',
 '202311-citibike-tripdata_2.csv',
 '201904-citibike-tripdata_1.csv',
 '202311-citibike-tripdata_3.csv',
 '201811-citibike-tripdata_1.csv',
 '202204-citibike-tripdata_3.csv',
 '._201811-citibike-tripdata.csv',
 '202302-citibike-tripdata_1.csv',
 '201708-citibike-tripdata.csv_2.csv',
 '202010-citibike-tripdata_3.csv',
 '._201807-citibike-tripdata.csv',
 '202409-citibike-tripdata_3.csv',
 '202105-citibike-tripdata_3.csv',
 '202406-citibike-tripdata_2.csv',
 '202003-citibike-tripdata_1.csv',
 '202211-citibike-tripdata_3.csv',
 '201606-citibike-tripdata_1.csv',
 '201804-citibike-tripdata_1.csv',
 '202202-citibike-tripdata_1.csv',
 '202304-citibike-tripdata_3.csv',
 '._202409-citibike-tripdata_5.csv',
 '201911-citibike-tripdata_1.csv',
 '._201808-citibike-tripdata.csv',
 '202110-citibike-tripdata_3.csv',
 '202103-citibike-tripdata_1.csv',
 '202005-citibike-tripdata_2.csv',
 '202110-citibike-tripdata_2.csv',
 '._202409-citibike-tripdata_4.csv',
 '202304-citibike-tripdata_2.csv',
 '202211-citibike-tripdata_2.csv',
 '201609-citibike-tripdata_1.csv',
 '201606-citibike-tripdata_2.csv',
 '201804-citibike-tripdata_2.csv',
 '202202-citibike-tripdata_2.csv',
 '202108-citibike-tripdata_4.csv',
 '201911-citibike-tripdata_2.csv',
 '202209-citibike-tripdata_4.csv',
 '202103-citibike-tripdata_2.csv',
 '202005-citibike-tripdata_1.csv',
 '201808-citibike-tripdata.csv',
 '202206-citibike-tripdata_4.csv',
 '202110-citibike-tripdata_1.csv',
 '202107-citibike-tripdata_4.csv',
 '202304-citibike-tripdata_1.csv',
 '201902-citibike-tripdata_1.csv',
 '202211-citibike-tripdata_1.csv',
 '201609-citibike-tripdata_2.csv',
 '201704-citibike-tripdata.csv_1.csv',
 '202502-citibike-tripdata_3.csv',
 '202001-citibike-tripdata_2.csv',
 '._202409-citibike-tripdata_3.csv',
 '202108-citibike-tripdata_1.csv',
 '201906-citibike-tripdata_2.csv',
 '201909-citibike-tripdata_3.csv',
 '201611-citibike-tripdata_2.csv',
 '201802-citibike-tripdata.csv',
 '202209-citibike-tripdata_1.csv',
 '202206-citibike-tripdata_1.csv',
 '201909-citibike-tripdata_2.csv',
 '201906-citibike-tripdata_3.csv',
 '202110-citibike-tripdata_4.csv',
 '201602-citibike-tripdata_1.csv',
 '201712-citibike-tripdata.csv_1.csv',
 '._202409-citibike-tripdata_2.csv',
 '202107-citibike-tripdata_1.csv',
 '202502-citibike-tripdata_2.csv',
 '202012-citibike-tripdata_1.csv',
 '201704-citibike-tripdata.csv_2.csv',
 '202107-citibike-tripdata_3.csv',
 '202108-citibike-tripdata_2.csv',
 '202001-citibike-tripdata_1.csv',
 '201701-citibike-tripdata.csv_1.csv',
 '201906-citibike-tripdata_1.csv',
 '201611-citibike-tripdata_1.csv',
 '202206-citibike-tripdata_3.csv',
 '202209-citibike-tripdata_2.csv',
 '202209-citibike-tripdata_3.csv',
 '202206-citibike-tripdata_2.csv',
 '201909-citibike-tripdata_1.csv',
 '._201802-citibike-tripdata.csv',
 '._202409-citibike-tripdata_1.csv',
 '202108-citibike-tripdata_3.csv',
 '202502-citibike-tripdata_1.csv',
 '202107-citibike-tripdata_2.csv',
 '202012-citibike-tripdata_2.csv',
 '202104-citibike-tripdata_3.csv',
 '202408-citibike-tripdata_3.csv',
 '202002-citibike-tripdata_1.csv',
 '202407-citibike-tripdata_2.csv',
 '._201804-citibike-tripdata.csv',
 '201810-citibike-tripdata_1.csv',
 '201612-citibike-tripdata_1.csv',
 '202205-citibike-tripdata_3.csv',
 '202303-citibike-tripdata_1.csv',
 '._201908-citibike-tripdata_3.csv',
 '201905-citibike-tripdata_1.csv',
 '._201812-citibike-tripdata.csv',
 '202310-citibike-tripdata_3.csv',
 '._202401-citibike-tripdata.csv',
 '202310-citibike-tripdata_2.csv',
 '202410-citibike-tripdata_6.csv',
 '202205-citibike-tripdata_2.csv',
 '202011-citibike-tripdata_2.csv',
 '202407-citibike-tripdata_3.csv',
 '202104-citibike-tripdata_2.csv',
 '202408-citibike-tripdata_2.csv',
 '202501-citibike-tripdata_1.csv',
 '202501-citibike-tripdata_3.csv',
 '202407-citibike-tripdata_1.csv',
 '202002-citibike-tripdata_2.csv',
 '202308-citibike-tripdata_4.csv',
 '201810-citibike-tripdata_2.csv',
 '202401-citibike-tripdata.csv',
 '202303-citibike-tripdata_2.csv',
 '201905-citibike-tripdata_2.csv',
 '202410-citibike-tripdata_4.csv',
 '201601-citibike-tripdata_1.csv',
 '202310-citibike-tripdata_1.csv',
 '201803-citibike-tripdata_1.csv',
 '202410-citibike-tripdata_5.csv',
 '202303-citibike-tripdata_3.csv',
 '202205-citibike-tripdata_1.csv',
 '201812-citibike-tripdata.csv',
 '201804-citibike-tripdata.csv',
 '202011-citibike-tripdata_1.csv',
 '202307-citibike-tripdata_4.csv',
 '202501-citibike-tripdata_2.csv',
 '202408-citibike-tripdata_1.csv',
 '202104-citibike-tripdata_1.csv',
 '202407-citibike-tripdata_4.csv',
 '202408-citibike-tripdata_5.csv',
 '._202403-citibike-tripdata.csv',
 '202308-citibike-tripdata_1.csv',
 '202201-citibike-tripdata_2.csv',
 '201807-citibike-tripdata_2.csv',
 '201705-citibike-tripdata.csv_2.csv',
 '201605-citibike-tripdata_2.csv',
 '202009-citibike-tripdata_1.csv',
 '202410-citibike-tripdata_1.csv',
 '202310-citibike-tripdata_4.csv',
 '._201806-citibike-tripdata.csv',
 '202006-citibike-tripdata_1.csv',
 '202212-citibike-tripdata_1.csv',
 '201901-citibike-tripdata_1.csv',
 '201808-citibike-tripdata_2.csv',
 '202307-citibike-tripdata_1.csv',
 '._201810-citibike-tripdata.csv',
 '202408-citibike-tripdata_4.csv',
 '202407-citibike-tripdata_5.csv',
 '201912-citibike-tripdata_1.csv',
 '202201-citibike-tripdata_1.csv',
 '202308-citibike-tripdata_2.csv',
 '202307-citibike-tripdata_3.csv',
 '201810-citibike-tripdata.csv',
 '201807-citibike-tripdata_1.csv',
 '201705-citibike-tripdata.csv_1.csv',
 '201605-citibike-tripdata_1.csv',
 '202009-citibike-tripdata_2.csv',
 '201806-citibike-tripdata.csv',
 '202410-citibike-tripdata_2.csv',
 '202410-citibike-tripdata_3.csv',
 '202006-citibike-tripdata_2.csv',
 '202009-citibike-tripdata_3.csv',
 '202403-citibike-tripdata.csv',
 '202212-citibike-tripdata_2.csv',
 '201808-citibike-tripdata_1.csv',
 '202307-citibike-tripdata_2.csv',
 '202308-citibike-tripdata_3.csv']

In [4]:

os.chdir(final_destination) # we are in the data folder 

#lets remove the folders so that its doesnt mess us up
for file in os.listdir('.'):
    if os.path.isdir(file):
        shutil.rmtree(file) #remove the folders

## File management complete

## Appending the files and Fixing Column Names

We have to fix the column names while we are appending bacaused we would be left with a bunch of random null values.
It'll be easier to be proactive about it instead of trying to reconcile it afterwards.

## Need to start with some testing.

In [5]:
#list the files again to practice loading in a csv file and looking at the data
import pandas as pd

#it doesnt matter which file we open, lets start with the first one 
test_file = os.listdir('.')[0] 

test_df = pd.read_csv(test_file)

print(test_df.info())
print(test_df.describe())
print(test_df.head())

#cool, im going to move on to appending that data together. I will do the data cleaning later after all of the files are appened.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1000000 non-null  int64
 1   starttime                1000000 non-null  object
 2   stoptime                 1000000 non-null  object
 3   start station id         1000000 non-null  int64
 4   start station name       1000000 non-null  object
 5   start station latitude   1000000 non-null  float64
 6   start station longitude  1000000 non-null  float64
 7   end station id           1000000 non-null  int64
 8   end station name         1000000 non-null  object
 9   end station latitude     1000000 non-null  float64
 10  end station longitude    1000000 non-null  float64
 11  bikeid                   1000000 non-null  int64
 12  usertype                 1000000 non-null  object
 13  birth year               884506 non-null   float64
 14  gender                   1000000 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 114.4+ MB
None
       tripduration  start station id  start station latitude  \
count  1.000000e+06    1000000.000000          1000000.000000
mean   1.039057e+03       1346.230151               40.736034
std    1.439600e+04       1340.826692                0.028249
min    6.100000e+01         72.000000               40.646538
25%    3.900000e+02        358.000000               40.717548
50%    6.590000e+02        485.000000               40.736529
75%    1.143000e+03       3140.000000               40.755273
max    4.182314e+06       3469.000000               40.880921

       start station longitude  end station id  end station latitude  \
count           1000000.000000  1000000.000000        1000000.000000
mean                -73.985123     1342.828010             40.735741
std                   0.017170     1340.264581              0.028173
min                 -74.017134       72.000000             40.646538
25%                 -73.997236      358.000000             40.717548
50%                 -73.987658      484.000000             40.736502
75%                 -73.976056     3140.000000             40.755103
max                 -73.896602     3469.000000             40.880921

       end station longitude          bikeid     birth year          gender
count         1000000.000000  1000000.000000  884506.000000  1000000.000000
mean              -73.985274    23040.331821    1978.814203        1.113142
std                 0.017189     4888.626888      11.643621        0.581626
min               -74.047727    14529.000000    1885.000000        0.000000
25%               -73.997249    18364.000000    1971.000000        1.000000
50%               -73.987763    25122.000000    1982.000000        1.000000
75%               -73.976206    27563.000000    1988.000000        1.000000
max               -73.896602    29823.000000    2001.000000        2.000000
   tripduration            starttime             stoptime  start station id  \
0          1397  2017-06-01 00:00:02  2017-06-01 00:23:19               515
1          1103  2017-06-01 00:00:13  2017-06-01 00:18:37               488
2          1810  2017-06-01 00:00:20  2017-06-01 00:30:31               461
3          1760  2017-06-01 00:00:24  2017-06-01 00:29:45              2009
4          2165  2017-06-01 00:00:33  2017-06-01 00:36:38               360

         start station name  start station latitude  start station longitude  \
0          W 43 St & 10 Ave               40.760094               -73.994618
1           W 39 St & 9 Ave               40.756458               -73.993722
2           E 20 St & 2 Ave               40.735877               -73.982050
3  Catherine St & Monroe St               40.711174               -73.996826
4      William St & Pine St               40.707179               -74.008873

   end station id          end station name  end station latitude  \
0            3285  W 87 St  & Amsterdam Ave             40.788390
1             297           E 15 St & 3 Ave             40.734232
2             465        Broadway & W 41 St             40.755136
3             527           E 33 St & 2 Ave             40.744023
4             474           5 Ave & E 29 St             40.745168

   end station longitude  bikeid    usertype  birth year  gender
0             -73.974700   26642  Subscriber      1967.0       1
1             -73.986923   25656  Subscriber      1981.0       1
2             -73.986580   21023  Subscriber      1982.0       1
3             -73.976056   25718  Subscriber      1973.0       2
4             -73.986831   18691  Subscriber      1985.0       1

In [6]:
# I've never done this before in python so I dont know if the most efficient way is to do this in a loop or not. I think it will be easier to do it in a loop so that I can see the progress.
# I will also add a progress bar to see how long it takes to run.
from tqdm import tqdm
import glob
#lets me do an optional argumen tin the append fuction: 
from typing import Optional, Tuple

#lets make a list of all the csv files in the data folder
os.chdir(final_destination)
all_files = glob.glob('*.csv')
print('Number of files:', len(all_files))

#I dont care about the names of the files, I just want to append them together
#you may ask does the file include the date? yes, in the start time and end time columns, so we can ignore file names. 
# i first have to make it a data frame and append to the "master data frame"
#testing with the first 5 files
def append_my_files(all_files, testing: Optional[tuple[int, int]] = None):
    if testing is not None: 
        #testing sould be an a tupple specifying start and stop 
        start = testing[0]
        stop = testing[1]
        all_files = all_files[start:stop]

    for i in range(len(all_files[:5])):
        if i == 0: 
            master_df = pd.read_csv(all_files[i])
            print(f'Master Dataframe has {len(master_df)} rows.')
        else:
            temp_df = pd.read_csv(all_files[i])
            print(f'File {i} has {len(temp_df)} rows.')

            try: 
                master_df = pd.concat([master_df, temp_df], ignore_index=True, sort=False)
                print(f'Master Dataframe updated to {len(master_df)} rows')
                #lets de dupe before the file gets too big <3
                master_df = master_df.drop_duplicates()
                del temp_df
            except: 
                raise AttributeError("Something went wrong!!")
    return master_df

master_df = append_my_files(all_files, (0,5))

master_df.info()
master_df.describe()
#i see we already have an issue with naming conventions - we need to remedy the column names

Number of files: 291
Master Dataframe has 1000000 rows.

/var/folders/mj/4mjb49y145s6l4jx6ds13c0r0000gn/T/ipykernel_8445/1321139162.py:29: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(all_files[i])

File 1 has 1000000 rows.
Master Dataframe updated to 2000000 rows

/var/folders/mj/4mjb49y145s6l4jx6ds13c0r0000gn/T/ipykernel_8445/1321139162.py:29: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(all_files[i])

File 2 has 1000000 rows.
Master Dataframe updated to 3000000 rows

/var/folders/mj/4mjb49y145s6l4jx6ds13c0r0000gn/T/ipykernel_8445/1321139162.py:29: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(all_files[i])

File 3 has 1000000 rows.
Master Dataframe updated to 4000000 rows
File 4 has 1000000 rows.
Master Dataframe updated to 5000000 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 28 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             float64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   float64
 12  usertype                 object
 13  birth year               float64
 14  gender                   float64
 15  ride_id                  object
 16  rideable_type            object
 17  started_at               object
 18  ended_at                 object
 19  start_station_name       object
 20  start_station_id         object
 21  end_station_name         object
 22  end_station_id           object
 23  start_lat                float64
 24  start_lng                float64
 25  end_lat                  float64
 26  end_lng                  float64
 27  member_casual            object
dtypes: float64(14), object(14)
memory usage: 1.0+ GB

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender,start_lat,start_lng,end_lat,end_lng
count,2.000000e+06,1.999984e+06,2.000000e+06,2.000000e+06,1.999984e+06,2.000000e+06,2.000000e+06,2.000000e+06,1.884506e+06,2.000000e+06,3.000000e+06,3.000000e+06,2.999130e+06,2.999130e+06
mean,1.068729e+03,1.506443e+03,4.073655e+01,-7.398355e+01,1.502682e+03,4.073624e+01,-7.398370e+01,2.618657e+04,1.979890e+03,1.133366e+00,4.074021e+01,-7.397513e+01,4.074019e+01,-7.397547e+01
std,1.449420e+04,1.420294e+03,2.941209e-02,1.891359e-02,1.420278e+03,2.934540e-02,1.897092e-02,7.118145e+03,1.185767e+01,5.763558e-01,3.917983e-02,2.657652e-02,4.570636e-02,5.036013e-02
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.406860e+01,1.452900e+04,1.885000e+03,0.000000e+00,4.059937e+01,-7.403878e+01,0.000000e+00,-7.421000e+01
25%,3.910000e+02,3.680000e+02,4.071749e+01,-7.399667e+01,3.660000e+02,4.071745e+01,-7.399705e+01,1.953900e+04,1.970000e+03,1.000000e+00,4.071541e+01,-7.399393e+01,4.071534e+01,-7.399405e+01
50%,6.690000e+02,4.970000e+02,4.073705e+01,-7.398683e+01,4.970000e+02,4.073650e+01,-7.398692e+01,2.684600e+04,1.983000e+03,1.000000e+00,4.073945e+01,-7.398142e+01,4.073989e+01,-7.398192e+01
75%,1.171000e+03,3.173000e+03,4.075646e+01,-7.397371e+01,3.175000e+03,4.075601e+01,-7.397375e+01,3.059400e+04,1.989000e+03,1.000000e+00,4.076323e+01,-7.395927e+01,4.076360e+01,-7.395962e+01
max,4.182314e+06,3.804000e+03,4.088092e+01,-7.388400e+01,3.804000e+03,4.088092e+01,-7.388700e+01,4.002500e+04,2.003000e+03,2.000000e+00,4.089000e+01,-7.384670e+01,4.094000e+01,0.000000e+00

In [ ]:
# trying a different set of files 
append_my_files(all_files, (30, 32))
#aha i finall see in intersection where nulls meet!!

/var/folders/mj/4mjb49y145s6l4jx6ds13c0r0000gn/T/ipykernel_8445/1321139162.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  master_df = pd.read_csv(all_files[i])

Master Dataframe has 1000000 rows.
File 1 has 573872 rows.
Master Dataframe updated to 1573872 rows

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,211D9837F472C1C2,classic_bike,2022-07-06 18:11:50.566,2022-07-06 18:18:34.784,6 Ave & Canal St,5500.07,Washington St & Barrow St,5847.08,40.722438,-74.005664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4FFB0D6FD9D92275,electric_bike,2022-07-03 23:02:50.580,2022-07-03 23:31:47.420,Van Buren St & Broadway,4568.01,Frost St & Meeker Ave,5371.07,40.692000,-73.926170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,66002E6013735A7A,classic_bike,2022-07-12 21:38:22.305,2022-07-12 21:43:00.280,E 2 St & 2 Ave,5593.02,E 2 St & Avenue C,5476.03,40.725029,-73.990697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,693D5CC23DB43405,classic_bike,2022-07-26 14:01:02.148,2022-07-26 14:19:59.416,Central Park North & Adam Clayton Powell Blvd,7617.07,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D25A8F6EEBA4D0D4,classic_bike,2022-07-17 11:11:32.390,2022-07-17 11:18:14.532,Broadway & E 19 St,6098.12,W 20 St & 10 Ave,6306.01,40.738661,-73.989873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.732264,-73.998522,311.0,Norfolk St & Broome St,40.717227,-73.988021,15261.0,Subscriber,1983.0,2.0
1573868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.722055,-73.989111,268.0,Howard St & Centre St,40.719105,-73.999733,26471.0,Subscriber,1989.0,1.0
1573869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764210,-73.969105,3226.0,W 82 St & Central Park West,40.782750,-73.971370,24033.0,Subscriber,1983.0,1.0
1573870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.701485,-73.986569,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,25841.0,Subscriber,1974.0,1.0
1573871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.719261,-73.981780,473.0,Rivington St & Chrystie St,40.721101,-73.991925,24820.0,Subscriber,1990.0,2.0

In [8]:
#So we need to fix column names while we append the files. 
#some options: a dictionary to rename columns, if the files have the same order of variables then we can just rename columns instead of using header 
#lets load two files in different data frames to compare -- after appending everything gets out of order based on the original file 
file_1 = pd.read_csv(all_files[30])
file_2 = pd.read_csv(all_files[31])

/var/folders/mj/4mjb49y145s6l4jx6ds13c0r0000gn/T/ipykernel_8445/3178750555.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  file_1 = pd.read_csv(all_files[30])

In [9]:

file_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1000000 non-null  object
 1   rideable_type       1000000 non-null  object
 2   started_at          1000000 non-null  object
 3   ended_at            1000000 non-null  object
 4   start_station_name  1000000 non-null  object
 5   start_station_id    1000000 non-null  object
 6   end_station_name    996332 non-null   object
 7   end_station_id      996332 non-null   object
 8   start_lat           1000000 non-null  float64
 9   start_lng           1000000 non-null  float64
 10  end_lat             998292 non-null   float64
 11  end_lng             998292 non-null   float64
 12  member_casual       1000000 non-null  object
dtypes: float64(4), object(9)
memory usage: 99.2+ MB

In [10]:
file_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573872 entries, 0 to 573871
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Trip Duration            573872 non-null  int64
 1   Start Time               573872 non-null  object
 2   Stop Time                573872 non-null  object
 3   Start Station ID         573872 non-null  int64
 4   Start Station Name       573872 non-null  object
 5   Start Station Latitude   573872 non-null  float64
 6   Start Station Longitude  573872 non-null  float64
 7   End Station ID           573872 non-null  int64
 8   End Station Name         573872 non-null  object
 9   End Station Latitude     573872 non-null  float64
 10  End Station Longitude    573872 non-null  float64
 11  Bike ID                  573872 non-null  int64
 12  User Type                567944 non-null  object
 13  Birth Year               518300 non-null  float64
 14  Gender                   573872 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 65.7+ MB

In [11]:
# we can make this work we'll just need to clean it 
print(file_2['User Type'].value_counts())
print(file_1['member_casual'].value_counts())

User Type
Subscriber    517425
Customer       50519
Name: count, dtype: int64
member_casual
member    760241
casual    239759
Name: count, dtype: int64

In [12]:
#They are not in order so we'll have to make a translation -- there are also more variables in some files than others 
#for viewing purposes 
#lets make a translation table -- google recommends making a dictionary and doing a mapping.
# I prefer the names to have the underscores so I am starting with file 2. 
# further im going to use fuzzywuzzy matching because why not -- its cute. 

#I believe process will do the dirty work for me 
from fuzzywuzzy import process 
for col in file_2.columns:
    print(col, process.extractOne(col, file_1.columns))

#scratching thisp; the columns are not enough alike 
#just going to make an empty dictionary then replact the ones I know to be true. Im not messing with getting them mistranslated.
col_translation = {}
col_translation['Start Time'] = 'started_at'
col_translation['Stop Time'] = 'ended_at'
col_translation['StartTime'] = 'started_at'
col_translation['StopTime'] = 'ended_at'
col_translation['Start Station ID'] = 'start_station_id'
col_translation['Start Station Name'] = 'start_station_name'
col_translation['End Station ID'] = 'end_station_id'
col_translation['End Station Name'] = 'end_station_name'
col_translation['Start Station Latitude'] = 'start_lat'
col_translation['Start Station Longitude'] = 'start_lng'
col_translation['End Station Latitude'] = 'end_lat'
col_translation['End Station Longitude'] = 'end_lng'
col_translation['User Type']='member_casual'
col_translation['UserType']='member_casual'
#making this lower after the fact 
col_translation = {k.lower():v for k,v in col_translation.items()}
#replacing spaces with underscored for readability 
col_translation = {k.replace(' ', '_'):v for k,v in col_translation.items()}
print(col_translation)
 
#testing on our files 
file_2.columns = file_2.columns.str.lower()
file_2.columns = file_2.columns.str.replace(' ', '_')
file_2_renamed = file_2.rename(columns=col_translation)
#file_2.info()
file_2_renamed.info()

# we would need to drop the extraneous cols 
keep_cols = [v for k,v in col_translation.items()]
print(keep_cols)
file_2_renamed=file_2_renamed[keep_cols]

Trip Duration ('end_station_id', 49)
Start Time ('start_station_name', 64)
Stop Time ('end_station_name', 48)
Start Station ID ('start_station_id', 88)
Start Station Name ('start_station_name', 89)
Start Station Latitude ('start_station_id', 74)
Start Station Longitude ('start_station_id', 72)
End Station ID ('end_station_id', 86)
End Station Name ('end_station_name', 88)
End Station Latitude ('end_lat', 74)
End Station Longitude ('end_station_id', 69)
Bike ID ('start_station_id', 39)
User Type ('rideable_type', 45)
Birth Year ('started_at', 40)
Gender ('ended_at', 57)
{'start_time': 'started_at', 'stop_time': 'ended_at', 'starttime': 'started_at', 'stoptime': 'ended_at', 'start_station_id': 'start_station_id', 'start_station_name': 'start_station_name', 'end_station_id': 'end_station_id', 'end_station_name': 'end_station_name', 'start_station_latitude': 'start_lat', 'start_station_longitude': 'start_lng', 'end_station_latitude': 'end_lat', 'end_station_longitude': 'end_lng', 'user_type': 'member_casual', 'usertype': 'member_casual'}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573872 entries, 0 to 573871
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   trip_duration       573872 non-null  int64
 1   started_at          573872 non-null  object
 2   ended_at            573872 non-null  object
 3   start_station_id    573872 non-null  int64
 4   start_station_name  573872 non-null  object
 5   start_lat           573872 non-null  float64
 6   start_lng           573872 non-null  float64
 7   end_station_id      573872 non-null  int64
 8   end_station_name    573872 non-null  object
 9   end_lat             573872 non-null  float64
 10  end_lng             573872 non-null  float64
 11  bike_id             573872 non-null  int64
 12  member_casual       567944 non-null  object
 13  birth_year          518300 non-null  float64
 14  gender              573872 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 65.7+ MB
['started_at', 'ended_at', 'started_at', 'ended_at', 'start_station_id', 'start_station_name', 'end_station_id', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual', 'member_casual']

/Users/rebeccahess/anaconda3/lib/python3.11/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

## Done with Testing

## Final program for appending the files:

In [ ]:

#putting this all together, we need to update the append files program to do a bit of intermediate file cleaning
#adding a second function to do that things we want
def df_adjust(file, col_translation):
    if col_translation is not None:
            file.columns = file.columns.str.lower()
             #replace any spaces with underscores 
            file.columns = file.columns.str.replace(' ', '_')
            
            #i need to adjust the col_translation depending on the starting variables so we don't accidentally get duplicates again
            col_translation_updtd = {k:v for k,v in col_translation.items() if k in file.columns}
            #testing on our files 
            file_renamed = file.rename(columns=col_translation_updtd)
    else: 
        file_renamed = file 

    #added set function to address the duplicate problem 
    #there are m:1 relationships
    keep_cols = [v for v in set(col_translation.values())]
    try: 
        file_renamed = file_renamed[keep_cols]
    except: 
        not_found = [col  for col in keep_cols if col not in file_renamed.columns]
        joined_columns = '\n    -'.join(not_found)
        raise KeyError(f"New columns not listed in col translation:\n    -{joined_columns}")
    
    file_trimmed= file_renamed.dropna(how = 'any') #reduce
    file_sampled = file_trimmed.sample(frac=0.001) # they are ginormous, lets just keep .1% of the file 
    return file_sampled
    
        

#copying the program here and making changes
def append_my_files(all_files, testing: Optional[tuple[int, int]] = None, col_translation=None):
    if testing is not None: 
        #testing sould be an a tuple specifying start and stop 
        start = testing[0]
        stop = testing[1]
        all_files = all_files[start:stop]

    for i in range(len(all_files)):
        if i == 0: 
            master_df = pd.read_csv(all_files[i], low_memory=False)
            
            master_df = df_adjust(master_df, col_translation) # renaming columns, dropping duplicates, removing na values, and sampling the data set 

            print(f'Master Dataframe has {len(master_df)} rows.')
        else:
            temp_df = pd.read_csv(all_files[i], low_memory=False)
            temp_df = df_adjust(temp_df, col_translation) # renaming columns, dropping duplicates, removing na values, and sampling the data set 
            print(f'File {i} has {len(temp_df)} rows.')

            try: 
                master_df = pd.concat([master_df, temp_df], ignore_index=True, sort=False)
                print(f'Master Dataframe updated to {len(master_df)} rows')
                #lets de dupe before the file gets too big <3
                master_df = master_df.drop_duplicates()
                del temp_df
            except: 
                raise AttributeError("Something went wrong!!")
    #moving into the program because i am checking every time anyway 
    master_df.info()
    master_df.describe()
    master_df.head()
    return master_df

In [14]:
  
master_df = append_my_files(all_files, col_translation= col_translation)

Master Dataframe has 1000 rows.
File 1 has 992 rows.
Master Dataframe updated to 1992 rows
File 2 has 1000 rows.
Master Dataframe updated to 2992 rows
File 3 has 1000 rows.
Master Dataframe updated to 3992 rows
File 4 has 1000 rows.
Master Dataframe updated to 4992 rows
File 5 has 1000 rows.
Master Dataframe updated to 5992 rows
File 6 has 991 rows.
Master Dataframe updated to 6983 rows
File 7 has 994 rows.
Master Dataframe updated to 7977 rows
File 8 has 1000 rows.
Master Dataframe updated to 8977 rows
File 9 has 988 rows.
Master Dataframe updated to 9965 rows
File 10 has 1000 rows.
Master Dataframe updated to 10965 rows
File 11 has 996 rows.
Master Dataframe updated to 11961 rows
File 12 has 1000 rows.
Master Dataframe updated to 12961 rows
File 13 has 1000 rows.
Master Dataframe updated to 13961 rows
File 14 has 205 rows.
Master Dataframe updated to 14166 rows
File 15 has 1000 rows.
Master Dataframe updated to 15166 rows
File 16 has 1877 rows.
Master Dataframe updated to 17043 rows
File 17 has 993 rows.
Master Dataframe updated to 18036 rows
File 18 has 1000 rows.
Master Dataframe updated to 19036 rows
File 19 has 986 rows.
Master Dataframe updated to 20022 rows
File 20 has 732 rows.
Master Dataframe updated to 20754 rows
File 21 has 3209 rows.
Master Dataframe updated to 23963 rows
File 22 has 998 rows.
Master Dataframe updated to 24961 rows
File 23 has 453 rows.
Master Dataframe updated to 25414 rows
File 24 has 719 rows.
Master Dataframe updated to 26133 rows
File 25 has 1000 rows.
Master Dataframe updated to 27133 rows
File 26 has 181 rows.
Master Dataframe updated to 27314 rows
File 27 has 920 rows.
Master Dataframe updated to 28234 rows
File 28 has 993 rows.
Master Dataframe updated to 29227 rows
File 29 has 723 rows.
Master Dataframe updated to 29950 rows
File 30 has 996 rows.
Master Dataframe updated to 30946 rows
File 31 has 568 rows.
Master Dataframe updated to 31514 rows
File 32 has 898 rows.
Master Dataframe updated to 32412 rows
File 33 has 999 rows.
Master Dataframe updated to 33411 rows
File 34 has 795 rows.
Master Dataframe updated to 34206 rows
File 35 has 17 rows.
Master Dataframe updated to 34223 rows
File 36 has 1000 rows.
Master Dataframe updated to 35223 rows
File 37 has 344 rows.
Master Dataframe updated to 35567 rows
File 38 has 719 rows.
Master Dataframe updated to 36286 rows
File 39 has 999 rows.
Master Dataframe updated to 37284 rows
File 40 has 998 rows.
Master Dataframe updated to 38282 rows
File 41 has 1000 rows.
Master Dataframe updated to 39282 rows
File 42 has 994 rows.
Master Dataframe updated to 40276 rows
File 43 has 558 rows.
Master Dataframe updated to 40834 rows
File 44 has 113 rows.
Master Dataframe updated to 40947 rows
File 45 has 93 rows.
Master Dataframe updated to 41040 rows
File 46 has 230 rows.
Master Dataframe updated to 41270 rows
File 47 has 992 rows.
Master Dataframe updated to 42262 rows
File 48 has 992 rows.
Master Dataframe updated to 43254 rows
File 49 has 683 rows.
Master Dataframe updated to 43937 rows
File 50 has 398 rows.
Master Dataframe updated to 44335 rows
File 51 has 576 rows.
Master Dataframe updated to 44911 rows
File 52 has 878 rows.
Master Dataframe updated to 45789 rows
File 53 has 995 rows.
Master Dataframe updated to 46784 rows
File 54 has 844 rows.
Master Dataframe updated to 47628 rows
File 55 has 1000 rows.
Master Dataframe updated to 48628 rows
File 56 has 220 rows.
Master Dataframe updated to 48848 rows
File 57 has 1000 rows.
Master Dataframe updated to 49848 rows
File 58 has 380 rows.
Master Dataframe updated to 50228 rows
File 59 has 825 rows.
Master Dataframe updated to 51053 rows
File 60 has 328 rows.
Master Dataframe updated to 51381 rows
File 61 has 1000 rows.
Master Dataframe updated to 52381 rows
File 62 has 1000 rows.
Master Dataframe updated to 53381 rows
File 63 has 977 rows.
Master Dataframe updated to 54358 rows
File 64 has 1000 rows.
Master Dataframe updated to 55358 rows
File 65 has 1000 rows.
Master Dataframe updated to 56358 rows
File 66 has 311 rows.
Master Dataframe updated to 56669 rows
File 67 has 635 rows.
Master Dataframe updated to 57304 rows
File 68 has 1000 rows.
Master Dataframe updated to 58304 rows
File 69 has 997 rows.
Master Dataframe updated to 59301 rows
File 70 has 114 rows.
Master Dataframe updated to 59415 rows
File 71 has 1000 rows.
Master Dataframe updated to 60415 rows
File 72 has 1000 rows.
Master Dataframe updated to 61415 rows
File 73 has 1000 rows.
Master Dataframe updated to 62415 rows
File 74 has 937 rows.
Master Dataframe updated to 63352 rows
File 75 has 1000 rows.
Master Dataframe updated to 64352 rows
File 76 has 1000 rows.
Master Dataframe updated to 65352 rows
File 77 has 1000 rows.
Master Dataframe updated to 66352 rows
File 78 has 736 rows.
Master Dataframe updated to 67088 rows
File 79 has 1000 rows.
Master Dataframe updated to 68088 rows
File 80 has 3159 rows.
Master Dataframe updated to 71247 rows
File 81 has 1000 rows.
Master Dataframe updated to 72247 rows
File 82 has 1000 rows.
Master Dataframe updated to 73246 rows
File 83 has 336 rows.
Master Dataframe updated to 73582 rows
File 84 has 994 rows.
Master Dataframe updated to 74576 rows
File 85 has 784 rows.
Master Dataframe updated to 75360 rows
File 86 has 707 rows.
Master Dataframe updated to 76067 rows
File 87 has 1000 rows.
Master Dataframe updated to 77067 rows
File 88 has 997 rows.
Master Dataframe updated to 78064 rows
File 89 has 1825 rows.
Master Dataframe updated to 79889 rows
File 90 has 331 rows.
Master Dataframe updated to 80218 rows
File 91 has 999 rows.
Master Dataframe updated to 81217 rows
File 92 has 997 rows.
Master Dataframe updated to 82214 rows
File 93 has 998 rows.
Master Dataframe updated to 83212 rows
File 94 has 112 rows.
Master Dataframe updated to 83324 rows
File 95 has 1000 rows.
Master Dataframe updated to 84324 rows
File 96 has 1000 rows.
Master Dataframe updated to 85324 rows
File 97 has 1000 rows.
Master Dataframe updated to 86324 rows
File 98 has 994 rows.
Master Dataframe updated to 87318 rows
File 99 has 999 rows.
Master Dataframe updated to 88317 rows
File 100 has 1000 rows.
Master Dataframe updated to 89317 rows
File 101 has 989 rows.
Master Dataframe updated to 90306 rows
File 102 has 777 rows.
Master Dataframe updated to 91083 rows
File 103 has 878 rows.
Master Dataframe updated to 91961 rows
File 104 has 994 rows.
Master Dataframe updated to 92953 rows
File 105 has 992 rows.
Master Dataframe updated to 93945 rows
File 106 has 991 rows.
Master Dataframe updated to 94936 rows
File 107 has 1000 rows.
Master Dataframe updated to 95936 rows
File 108 has 98 rows.
Master Dataframe updated to 96034 rows
File 109 has 999 rows.
Master Dataframe updated to 97033 rows
File 110 has 995 rows.
Master Dataframe updated to 98028 rows
File 111 has 953 rows.
Master Dataframe updated to 98981 rows
File 112 has 13 rows.
Master Dataframe updated to 98994 rows
File 113 has 1000 rows.
Master Dataframe updated to 99994 rows
File 114 has 994 rows.
Master Dataframe updated to 100988 rows
File 115 has 986 rows.
Master Dataframe updated to 101974 rows
File 116 has 452 rows.
Master Dataframe updated to 102426 rows
File 117 has 1914 rows.
Master Dataframe updated to 104340 rows
File 118 has 995 rows.
Master Dataframe updated to 105335 rows
File 119 has 999 rows.
Master Dataframe updated to 106334 rows
File 120 has 994 rows.
Master Dataframe updated to 107328 rows
File 121 has 998 rows.
Master Dataframe updated to 108326 rows
File 122 has 1260 rows.
Master Dataframe updated to 109586 rows
File 123 has 1000 rows.
Master Dataframe updated to 110586 rows
File 124 has 843 rows.
Master Dataframe updated to 111429 rows
File 125 has 766 rows.
Master Dataframe updated to 112195 rows
File 126 has 2116 rows.
Master Dataframe updated to 114311 rows
File 127 has 710 rows.
Master Dataframe updated to 115021 rows
File 128 has 260 rows.
Master Dataframe updated to 115281 rows
File 129 has 724 rows.
Master Dataframe updated to 116004 rows
File 130 has 1000 rows.
Master Dataframe updated to 117004 rows
File 131 has 696 rows.
Master Dataframe updated to 117700 rows
File 132 has 71 rows.
Master Dataframe updated to 117771 rows
File 133 has 994 rows.
Master Dataframe updated to 118765 rows
File 134 has 471 rows.
Master Dataframe updated to 119236 rows
File 135 has 999 rows.
Master Dataframe updated to 120235 rows
File 136 has 999 rows.
Master Dataframe updated to 121234 rows
File 137 has 1000 rows.
Master Dataframe updated to 122234 rows
File 138 has 1000 rows.
Master Dataframe updated to 123234 rows
File 139 has 1000 rows.
Master Dataframe updated to 124234 rows
File 140 has 989 rows.
Master Dataframe updated to 125223 rows
File 141 has 1000 rows.
Master Dataframe updated to 126223 rows
File 142 has 817 rows.
Master Dataframe updated to 127040 rows
File 143 has 1000 rows.
Master Dataframe updated to 128040 rows
File 144 has 261 rows.
Master Dataframe updated to 128301 rows
File 145 has 996 rows.
Master Dataframe updated to 129297 rows
File 146 has 816 rows.
Master Dataframe updated to 130113 rows
File 147 has 255 rows.
Master Dataframe updated to 130368 rows
File 148 has 999 rows.
Master Dataframe updated to 131367 rows
File 149 has 670 rows.
Master Dataframe updated to 132037 rows
File 150 has 1000 rows.
Master Dataframe updated to 133037 rows
File 151 has 997 rows.
Master Dataframe updated to 134034 rows
File 152 has 386 rows.
Master Dataframe updated to 134420 rows
File 153 has 1000 rows.
Master Dataframe updated to 135420 rows
File 154 has 1000 rows.
Master Dataframe updated to 136420 rows
File 155 has 998 rows.
Master Dataframe updated to 137418 rows
File 156 has 750 rows.
Master Dataframe updated to 138168 rows
File 157 has 1000 rows.
Master Dataframe updated to 139168 rows
File 158 has 1000 rows.
Master Dataframe updated to 140168 rows
File 159 has 997 rows.
Master Dataframe updated to 141165 rows
File 160 has 492 rows.
Master Dataframe updated to 141657 rows
File 161 has 1000 rows.
Master Dataframe updated to 142657 rows
File 162 has 1000 rows.
Master Dataframe updated to 143657 rows
File 163 has 994 rows.
Master Dataframe updated to 144651 rows
File 164 has 1000 rows.
Master Dataframe updated to 145651 rows
File 165 has 460 rows.
Master Dataframe updated to 146111 rows
File 166 has 308 rows.
Master Dataframe updated to 146419 rows
File 167 has 197 rows.
Master Dataframe updated to 146616 rows
File 168 has 13 rows.
Master Dataframe updated to 146629 rows
File 169 has 479 rows.
Master Dataframe updated to 147108 rows
File 170 has 412 rows.
Master Dataframe updated to 147520 rows
File 171 has 500 rows.
Master Dataframe updated to 148020 rows
File 172 has 996 rows.
Master Dataframe updated to 149016 rows
File 173 has 1976 rows.
Master Dataframe updated to 150992 rows
File 174 has 344 rows.
Master Dataframe updated to 151336 rows
File 175 has 989 rows.
Master Dataframe updated to 152325 rows
File 176 has 22 rows.
Master Dataframe updated to 152347 rows
File 177 has 993 rows.
Master Dataframe updated to 153340 rows
File 178 has 944 rows.
Master Dataframe updated to 154284 rows
File 179 has 1000 rows.
Master Dataframe updated to 155284 rows
File 180 has 649 rows.
Master Dataframe updated to 155933 rows
File 181 has 1000 rows.
Master Dataframe updated to 156933 rows
File 182 has 31 rows.
Master Dataframe updated to 156964 rows
File 183 has 243 rows.
Master Dataframe updated to 157207 rows
File 184 has 986 rows.
Master Dataframe updated to 158193 rows
File 185 has 1000 rows.
Master Dataframe updated to 159193 rows
File 186 has 445 rows.
Master Dataframe updated to 159638 rows
File 187 has 195 rows.
Master Dataframe updated to 159833 rows
File 188 has 843 rows.
Master Dataframe updated to 160676 rows
File 189 has 992 rows.
Master Dataframe updated to 161666 rows
File 190 has 997 rows.
Master Dataframe updated to 162663 rows
File 191 has 1000 rows.
Master Dataframe updated to 163663 rows
File 192 has 125 rows.
Master Dataframe updated to 163788 rows
File 193 has 11 rows.
Master Dataframe updated to 163799 rows
File 194 has 561 rows.
Master Dataframe updated to 164360 rows
File 195 has 890 rows.
Master Dataframe updated to 165250 rows
File 196 has 986 rows.
Master Dataframe updated to 166236 rows
File 197 has 998 rows.
Master Dataframe updated to 167234 rows
File 198 has 997 rows.
Master Dataframe updated to 168231 rows
File 199 has 315 rows.
Master Dataframe updated to 168546 rows
File 200 has 1000 rows.
Master Dataframe updated to 169546 rows
File 201 has 1000 rows.
Master Dataframe updated to 170546 rows
File 202 has 998 rows.
Master Dataframe updated to 171544 rows
File 203 has 723 rows.
Master Dataframe updated to 172267 rows
File 204 has 1000 rows.
Master Dataframe updated to 173267 rows
File 205 has 989 rows.
Master Dataframe updated to 174256 rows
File 206 has 996 rows.
Master Dataframe updated to 175252 rows
File 207 has 1000 rows.
Master Dataframe updated to 176252 rows
File 208 has 1000 rows.
Master Dataframe updated to 177252 rows
File 209 has 1000 rows.
Master Dataframe updated to 178252 rows
File 210 has 1000 rows.
Master Dataframe updated to 179252 rows
File 211 has 1000 rows.
Master Dataframe updated to 180252 rows
File 212 has 997 rows.
Master Dataframe updated to 181249 rows
File 213 has 1000 rows.
Master Dataframe updated to 182249 rows
File 214 has 92 rows.
Master Dataframe updated to 182341 rows
File 215 has 26 rows.
Master Dataframe updated to 182367 rows
File 216 has 1000 rows.
Master Dataframe updated to 183367 rows
File 217 has 999 rows.
Master Dataframe updated to 184366 rows
File 218 has 999 rows.
Master Dataframe updated to 185365 rows
File 219 has 1000 rows.
Master Dataframe updated to 186365 rows
File 220 has 807 rows.
Master Dataframe updated to 187172 rows
File 221 has 862 rows.
Master Dataframe updated to 188034 rows
File 222 has 998 rows.
Master Dataframe updated to 189032 rows
File 223 has 1000 rows.
Master Dataframe updated to 190032 rows
File 224 has 984 rows.
Master Dataframe updated to 191016 rows
File 225 has 1000 rows.
Master Dataframe updated to 192016 rows
File 226 has 150 rows.
Master Dataframe updated to 192166 rows
File 227 has 1000 rows.
Master Dataframe updated to 193166 rows
File 228 has 738 rows.
Master Dataframe updated to 193904 rows
File 229 has 993 rows.
Master Dataframe updated to 194897 rows
File 230 has 1000 rows.
Master Dataframe updated to 195897 rows
File 231 has 999 rows.
Master Dataframe updated to 196896 rows
File 232 has 998 rows.
Master Dataframe updated to 197894 rows
File 233 has 122 rows.
Master Dataframe updated to 198016 rows
File 234 has 993 rows.
Master Dataframe updated to 199009 rows
File 235 has 148 rows.
Master Dataframe updated to 199157 rows
File 236 has 964 rows.
Master Dataframe updated to 200121 rows
File 237 has 879 rows.
Master Dataframe updated to 201000 rows
File 238 has 1882 rows.
Master Dataframe updated to 202882 rows
File 239 has 997 rows.
Master Dataframe updated to 203879 rows
File 240 has 925 rows.
Master Dataframe updated to 204804 rows
File 241 has 1000 rows.
Master Dataframe updated to 205804 rows
File 242 has 509 rows.
Master Dataframe updated to 206313 rows
File 243 has 999 rows.
Master Dataframe updated to 207312 rows
File 244 has 977 rows.
Master Dataframe updated to 208289 rows
File 245 has 1000 rows.
Master Dataframe updated to 209289 rows
File 246 has 119 rows.
Master Dataframe updated to 209408 rows
File 247 has 999 rows.
Master Dataframe updated to 210407 rows
File 248 has 1016 rows.
Master Dataframe updated to 211423 rows
File 249 has 1308 rows.
Master Dataframe updated to 212730 rows
File 250 has 1000 rows.
Master Dataframe updated to 213728 rows
File 251 has 660 rows.
Master Dataframe updated to 214388 rows
File 252 has 1000 rows.
Master Dataframe updated to 215388 rows
File 253 has 993 rows.
Master Dataframe updated to 216381 rows
File 254 has 997 rows.
Master Dataframe updated to 217378 rows
File 255 has 1000 rows.
Master Dataframe updated to 218378 rows
File 256 has 603 rows.
Master Dataframe updated to 218981 rows
File 257 has 1000 rows.
Master Dataframe updated to 219981 rows
File 258 has 25 rows.
Master Dataframe updated to 220006 rows
File 259 has 914 rows.
Master Dataframe updated to 220920 rows
File 260 has 523 rows.
Master Dataframe updated to 221442 rows
File 261 has 212 rows.
Master Dataframe updated to 221654 rows
File 262 has 999 rows.
Master Dataframe updated to 222653 rows
File 263 has 998 rows.
Master Dataframe updated to 223651 rows
File 264 has 725 rows.
Master Dataframe updated to 224376 rows
File 265 has 995 rows.
Master Dataframe updated to 225371 rows
File 266 has 995 rows.
Master Dataframe updated to 226366 rows
File 267 has 967 rows.
Master Dataframe updated to 227333 rows
File 268 has 976 rows.
Master Dataframe updated to 228309 rows
File 269 has 998 rows.
Master Dataframe updated to 229304 rows
File 270 has 993 rows.
Master Dataframe updated to 230297 rows
File 271 has 723 rows.
Master Dataframe updated to 231020 rows
File 272 has 955 rows.
Master Dataframe updated to 231975 rows
File 273 has 991 rows.
Master Dataframe updated to 232966 rows
File 274 has 990 rows.
Master Dataframe updated to 233956 rows
File 275 has 1000 rows.
Master Dataframe updated to 234956 rows
File 276 has 1878 rows.
Master Dataframe updated to 236834 rows
File 277 has 1000 rows.
Master Dataframe updated to 237831 rows
File 278 has 1000 rows.
Master Dataframe updated to 238830 rows
File 279 has 1000 rows.
Master Dataframe updated to 239830 rows
File 280 has 994 rows.
Master Dataframe updated to 240824 rows
File 281 has 1953 rows.
Master Dataframe updated to 242777 rows
File 282 has 994 rows.
Master Dataframe updated to 243770 rows
File 283 has 991 rows.
Master Dataframe updated to 244761 rows
File 284 has 888 rows.
Master Dataframe updated to 245649 rows
File 285 has 496 rows.
Master Dataframe updated to 246145 rows
File 286 has 2656 rows.
Master Dataframe updated to 248801 rows
File 287 has 592 rows.
Master Dataframe updated to 249393 rows
File 288 has 1000 rows.
Master Dataframe updated to 250393 rows
File 289 has 993 rows.
Master Dataframe updated to 251384 rows
File 290 has 1000 rows.
Master Dataframe updated to 252384 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252384 entries, 0 to 252383
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   end_station_name    252384 non-null  object
 1   end_lng             252384 non-null  float64
 2   started_at          252384 non-null  object
 3   start_lat           252384 non-null  float64
 4   end_station_id      252384 non-null  object
 5   ended_at            252384 non-null  object
 6   start_station_id    252384 non-null  object
 7   end_lat             252384 non-null  float64
 8   start_station_name  252384 non-null  object
 9   member_casual       252384 non-null  object
 10  start_lng           252384 non-null  float64
dtypes: float64(4), object(7)
memory usage: 21.2+ MB

In [ ]:
#further cleaning 
master_df.head()
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252384 entries, 0 to 252383
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   end_station_name    252384 non-null  object
 1   end_lng             252384 non-null  float64
 2   started_at          252384 non-null  object
 3   start_lat           252384 non-null  float64
 4   end_station_id      252384 non-null  object
 5   ended_at            252384 non-null  object
 6   start_station_id    252384 non-null  object
 7   end_lat             252384 non-null  float64
 8   start_station_name  252384 non-null  object
 9   member_casual       252384 non-null  object
 10  start_lng           252384 non-null  float64
dtypes: float64(4), object(7)
memory usage: 21.2+ MB

In [23]:
os.getcwd()
if not os.path.exists('output'): os.mkdir('output')
master_df.to_csv('output/master_df.csv')

## Data Cleaning

All the above took a while to run, so lets use this opportunity to "reset". I am going to pull in the intermediate file I saved in the previous step.

In [2]:
#import stuff we need
import os 
import pandas as pd

In [ ]:
os.getcwd()
master_df = pd.read_csv('data/output/master_df.csv', low_memory=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252384 entries, 0 to 252383
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          252384 non-null  int64
 1   end_station_name    252384 non-null  object
 2   end_lng             252384 non-null  float64
 3   started_at          252384 non-null  object
 4   start_lat           252384 non-null  float64
 5   end_station_id      252384 non-null  object
 6   ended_at            252384 non-null  object
 7   start_station_id    252384 non-null  object
 8   end_lat             252384 non-null  float64
 9   start_station_name  252384 non-null  object
 10  member_casual       252384 non-null  object
 11  start_lng           252384 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 23.1+ MB

,Unnamed: 0,end_lng,start_lat,end_lat,start_lng
count,252384.000000,252384.000000,252384.000000,252384.000000,252384.000000
mean,126191.500000,-73.977045,40.738547,40.738175,-73.977165
std,72857.129507,0.149331,0.036084,0.088710,0.024786
min,0.000000,-74.038051,40.602580,0.000000,-74.027472
25%,63095.750000,-73.994224,40.716059,40.716059,-73.994156
50%,126191.500000,-73.982666,40.738177,40.737815,-73.982582
75%,189287.250000,-73.962658,40.760301,40.760193,-73.962868
max,252383.000000,0.000000,40.886300,40.886300,-73.846720

In [7]:
master_df.info()
master_df.describe()
master_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252384 entries, 0 to 252383
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          252384 non-null  int64
 1   end_station_name    252384 non-null  object
 2   end_lng             252384 non-null  float64
 3   started_at          252384 non-null  object
 4   start_lat           252384 non-null  float64
 5   end_station_id      252384 non-null  object
 6   ended_at            252384 non-null  object
 7   start_station_id    252384 non-null  object
 8   end_lat             252384 non-null  float64
 9   start_station_name  252384 non-null  object
 10  member_casual       252384 non-null  object
 11  start_lng           252384 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 23.1+ MB

,Unnamed: 0,end_station_name,end_lng,started_at,start_lat,end_station_id,ended_at,start_station_id,end_lat,start_station_name,member_casual,start_lng
0,0,DeKalb Ave & Hudson Ave,-73.981013,2017-06-09 11:56:59,40.695128,324,2017-06-09 12:15:24,406,40.689888,Hicks St & Montague St,Customer,-73.995951
1,1,Pershing Square North,-73.977706,2017-06-05 17:32:02,40.703554,519,2017-06-05 18:03:40,315,40.751873,South St & Gouverneur Ln,Subscriber,-74.006702
2,2,E 39 St & 2 Ave,-73.973442,2017-06-02 16:20:13,40.740964,518,2017-06-02 16:29:07,491,40.747804,E 24 St & Park Ave S,Subscriber,-73.986022
3,3,E 81 St & 3 Ave,-73.956753,2017-06-14 20:25:24,40.764719,3146,2017-06-14 20:32:28,3376,40.775730,E 65 St & 2 Ave,Subscriber,-73.962221
4,4,Broadway & W 60 St,-73.981918,2017-06-06 19:01:25,40.744876,499,2017-06-06 19:26:02,446,40.769155,W 24 St & 7 Ave,Subscriber,-73.995299

### Converting Data Types

In [ ]:
#date time needs to be converted for started_at and ended_at
df_clean = master_df.copy()
df_clean = df_clean['started_at'].to_datetime